body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image:linear-gradient(to top left,#252525,#1a1a1a,#000000);
}

.puzzle {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
}

.tile {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007BFF;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.empty {
    background-color: transparent;
    cursor: default;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
}

@media (max-width:900px){
    .celular2, .celular{
        display: none;
    }
    .info-topo{
        justify-content: center;
        height: 100%;
        align-items: center;
        margin:0;
    }
    .texto-topo {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .texto-topo {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .subtitulo2 {
        text-align: center;
    }
    .navegacao a {
        padding: 10px;
    }
    .botao-apps {
        justify-content: center;
    }
    .titulo{
        text-align: center;
    }
    .text{
        text-align: center;
    }
    .text-bussines{
        text-align: center;
    }
}
@media (max-width:760px){
    .container-navegacao {
        flex-wrap: wrap;        
        justify-content: center;
    }
    .logo {
        padding: 0 5px;
        margin-bottom: 6px;
    }
    .services {
        flex-direction: column;
        align-items: center;
    }
    .tipo-servicos {
        margin-bottom: 20px;
        width: 100%;
        max-width: 425px;
        padding: 0;
    }
}
@media(max-width:676px){
    .navegacao {
        max-width: 100%;
        justify-content: center;
    }
    .works{
        font-size: 35px;
    }
}
@media(max-width:462px){    
    .info-topo {
        max-width: 290px;       
    }
    .texto-topo {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .titulo {
        font-size: 32px;
    }
    .text {
        width: 280px;
        margin: 15px 0;
    }
    .botao-apps {
        flex-direction: column;        
        width: 100%;
    }
    .botaoapp{
        max-width: 100%;
    }
}
@media(max-width:436px){
    .tipo-servicos {
        max-width: 275px;
    }
}